.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea
/p0861asynctask/
/p1271soundpool/
/p1531colorfilter/
/p0311simpleintents/
/p0401layoutinflater/
/p0301activityresult/
/p1611bitmapcache/
/p0081viewbyId/
/p0991servicenotification/
/p0571gridview/
/p0611alertdialogprepare/
/p1491canvastext/
/p0451expandablelist/
/p1031multitouch/
/p1341camerafeatures/
/p1041fragmentlifecycle/
/p1471region/
/p0191simplecalculator/
/p0781tabcontentfactory/
/p1121dynamicactionbar/
/p0951servicebackpendingintent/
/p0461expandablelistevents/
/p1281audiofocus/
/p0261intentfilter/
/p0051layoutfiles/
/p1551porterduffcolorfilter/
/p1501pathmeasure/
/p0231oneactivitystate/
/p0072layoutprop/
/p0941servicekillclient/
/p1021touch/
/p1441matrixtransform/
/p1161mngtasks1/
/p1561avoidxfermode/
/p0911asynctaskrotate/
/p1361cursorloader/
/p1451matrixtransform2/
/p0171dynamiclayout2/
/p0102activitylistener/
/p0691parcelable/
/p1311cameraintent/
/p1351loader/
/p0091onclickbuttons/
/p0281intentextras/
/p1131actionmode/
/p1421drawingfigure/
/p0901asynctaskstatus/
/p0631alertdialogitemssingle/
/p1331camerarecord/
/p0841handlerrunnable/
/p1581bitmapcreate/
/p0972servicebindserver/
/p0541customadapter/
/p1171simplewidget/
/p0621alertdialogitems/
/p0711preferencessimple/
/p0891asynctaskcancel/
/p0111resvalues/
/p0871asynctaskparams/
/p1071actionbaritems/
/p0211twoactivity/
/p0291simpleactivityresult/
/p1601bitmaplarge/
/CanvasClip/
/p0971servicebindclient/
/p0721preferencessimple2/
/p0551headerfooter/
/p1141supportlibrary/
/p0821handleradvmessage/
/p0181dynamiclayout3/
/p0391sqliteonupgradedb/
/p1101dialogfragment/
/p0761tab/
/p0411layoutinflaterlist/
/p0601alertdialogsimple/
/p0321simplebrowser/
/p0521simplecursoradapter/
/p0041basicviews/
/p0981servicebindinglocal/
/p1211listwidget/
/p0931servicestop/
/p1251viewpager/
/p1291mediarecorderaudio/
/p1261mediaplayer/
/p0501simpleadaptercustom2/
/p1541porterduff/
/p0331sharedpreferences/
/p0661alertdialogoperations/
/p0431simplelistchoice/
/p0421simplelist/
/p0801handler/
/p0131menusimple/
/p0271getintentaction/
/p0671progressdialog/
/p0581timepickerdialog/
/p0641alertdialogitemsmulti/
/p1051fragmentdynamic/
/p0151contextmenu/
/p0031firstproject/
/p0591datepickerdialog/
/p0201simpleanimation/
/p1521picture/
/p0741preferencescode/
/p1012contprovclient/
/p0481simpleadapter/
/p0341simplesqlite/
/p0921servicesimple/
/p0771tabintent/
/p1151multiplescreen/
/p1431drawingpath/
/p0531simplecursortreeadapter/
/p0831handlermessagemanage/
/p1201clickwidget/
/p0141menuadv/
/p0361sqlitequery/
/p0701saveinstancestate/
/p0751files/
/p1621drawableshape/
/p0681parcel/
/p0561spinner/
/p0371sqliteinnerjoin/
/p1091listfragment/
/p1191pendingintent/
/p0731preferencesenable/
/p1321camerascreen/
/p0811handlersimplemessage/
/p0241twoactivitystate/
/p1301audiorecorder/
/p0101listener/
/p1081actionbarnavigation/
/p0881asynctaskresult/
/p1381location/
/p0121logandmess/
/p0161dynamiclayout/
/p0851runnableuithread/
/p0791xmlpullparser/
/p1461canvastransform/
/p1111preferencefragment/
/p0651alertdialogcustom/
/p1411canvasview/
/p01011contentprovider/
/p0511simpleadapterdata/
/p1061fragmentactivity/
/p0491simpleadaptercustom1/
/p0961servicebackbroadcast/
/p1162mngtasks2/
/p0061layouts/
/p1591bitmapoptions/
/p1511patheffect/
/p1571bitmapread/
/p0381sqlitetransaction/
/p0441simplelistevents/
